body {
  margin: 0;
  padding: 0;
}

nav {
/*  position: fixed;
  top: 0;
  left: 0;
  right: 0;*/
  width: 100%;
  height: 56px;
  background-color: #B3DDF2;
}

.hidden {
  visibility: hidden;
  position: absolute;
  left: -2000px;
}

#title {
  display: inline;
}

#title a {
}

#title a, #title a:hover, #title a:visited {
  color: white;
  font-size: 32px;
  line-height: 56px;
  padding-left: 20px;
  text-decoration: none;
  /*text-shadow: 2px 2px #FF0000;*/
}


#nav-links {
  display: inline;
  float: right;
}

#nav-links div {
  display: inline;
  /*margin-right: 20px;*/
}

#nav-links a, #nav-links a:visited {
  color: white;
  font-size: 16px;
  line-height: 56px;
  text-decoration: none;
  font-weight: bold;
  padding-right: 20px;
}

#nav-links a:hover {
  color: #FF0000;
}

.container {
  /*padding-top: 50px;*/
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  width: 90%;
}

form input{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
}

.button {
  width: auto;
}

th {
  text-align: left;
}

div#line-list-container {
  margin-top: 30px;
}

.line {
  height: 70px;
  font-size: 40px;
  margin: 10px auto;
  width: 400px;
  padding-left: 20px;
  box-shadow: 3px 3px 2px #b5b5b5;
}

.line a {
  text-decoration: none;
  color: black;
}

.line h2 {
  margin: 0;
}

.line-header {
  font-size: 40px;
  padding-left: 20px;
}

.line-header h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.station-header {
  /*width: 100%;*/
  font-size: 40px;
  margin: 40px 0;
  /*padding-left: 20px;*/
  display: inline-block;
  /*background-color: gray;*/
}

.sh-left {
  float: left;
  width: 80px;
  height: 70px;
}

.sh-center {
  float: left;
  height: 70px;
  background-color: #636363;
  padding: 0 30px;
}

.sh-center h2 {
  margin: 0;
  line-height: 70px;
  color: white;
}

.sh-right {
  width: 80px;
  float: left;
  height: 70px;
}

.station-color {
  width: 100%;
}

.add-station, .delete-station {
  float: right;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}

input#add-station-submit {
  width: auto;
}

.station-name {
  display: inline-block;
}

.station-name h2 {
  margin: 5px;
}

.line-icon {
  width: 18px;
  /*height: 30px;*/
  display: inline-block;
  margin: -10px 0 0 0;
  padding: 0;
  border-radius: 5px;
}

.delete-station-x {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
}

input#delete-station-submit {
  width: auto;
}

.data-container {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  background-color: gray;
}

#map-canvas {
  /*background-color: gray;*/
  height: 400px;
  width: 600px;
  box-shadow: 3px 3px 2px #b5b5b5;
}

#red {
  background-color: #C60C30;
}

#blue {
  background-color: #00A1DE;
}

#brown {
  background-color: #62361B;
}

#green {
  background-color: #009B3A;
}

#orange {
  background-color: #F9461C;
}

#purple {
  background-color: #522398;
}

#pink {
  background-color: #E27EA6;
}

#yellow {
  background-color: #F9E300;
}

.vertical-map {
  width: 26px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  padding: 0px;
}

.vertical-map-dot {
  background-color: white;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  margin: 20px auto;
}

.vertical-map-dot:first-child {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}
