<div id="line-list-container">
  <% @lines.each do |line| %>
    <div class="line" id="<%= line.name.downcase %>">
      <a href="/lines/<%= line.id %>"><h2><%= line.name %></h2></a> 
    </div>
  <% end %>
</div>